:root{
  --ms_header-height: 100px;
  --ms_bottom-section-margin: 30px;

  --ms_primary-color: #0d6efd;
  --ms_secondary-color: #dc3545;
  --ms_text-color: #737373;
  --ms_headers-color: #1f1f1f;
}

/* COMMON  */
html{
  font-size: 75%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
}

.btn:focus{
  box-shadow: none;
}

.btn:active:focus{
  box-shadow: none;
}

.ms_btn{
  border-radius: 2em;
}

.ms_container{
  width: 90%;
  margin: 0 auto;
}

/* HEADER  */
header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: var(--ms_header-height);
  width: 100%;
  padding-bottom: 0;
}

.header-top{
  padding: 0 1rem;
  height: 30%;
  background-color: black;
}

.header-top img{
  height: 40%;
  width: auto;
}

/* nav bar  */

.header-bottom{
  height: 70%;
}

.navbar{
  height: 100%;
}

.header-bottom .ms_play-logo{
  height: 100%;
  width: auto;
}

.header-bottom li{
  margin-left: 5px;
}

.header-bottom li .chev-down{
  width: auto;
  height: 0.8rem;
  display: inline-block;
  margin-left: 3px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
}

#loginBtn{
  color: white;
  padding: 0.5rem 0.75rem;
}

#navSearch{
  height: 2rem;
  width: auto;
}

/* MAIN  */
section{
  margin-bottom: 20px;
}

section h2{
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: var(--ms_headers-color);
}

section p{
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--ms_text-color);
}

.ms_jumbotron img{
  width: 60%;
  margin-bottom: 40px;
}

.ms_jumbotron{
  width: 100%;
  padding: 25rem 0 5rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* jumbotron */
#returnalJumbo.ms_jumbotron{
  background-image: url(../img/jumbo-bg.png);
  margin-top: var(--ms_header-height);
}

.jumbotron-box{
  width: 100%;
  color: white;
}

.jumbotron-box h2,
.jumbotron-box p,
.jumbotron-box a{
  color: inherit;
}

/* jumbotron options  */
.jumbo-options{
  margin-bottom: 75px;
}

.j-options-box{
  outline: 2px solid transparent;
  outline-offset: 3px;
  border-radius: 15px;
  overflow: hidden;
}

.j-options-box.active{
  outline: 2px solid var(--ms_primary-color);
}

/* ps5 section  */
.consol-intro{
  text-align: center;
}

.consol-intro h3{
  color: var(--ms_primary-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
}

.ps5-gadget-card{
  width: 100%;
  border-bottom: 2px solid transparent;
  opacity: 0.6;
  text-align: center;
}
.ps5-gadget-card img{
  width: 75%;
  margin-bottom: 10px;
}

.ps5-gadget-card h3{
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.ps5-gadget-card.active{
  opacity: 1;
  border-bottom: 2px solid var(--ms_primary-color);
}

/* middle jumbotron  */
#takesTwoJumbo.ms_jumbotron{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  margin-bottom: 0;
}

/* new game section  */
.new-card{
  width: 100%;
  font-weight: 600;
  margin-bottom: 40px;
}

.new-card img{
  border-radius: 25px;
  margin-bottom: 10px;
}

.ms_section-dark{
  background-color: var(--ms_headers-color);
  padding-top: 20px;
  padding-bottom: 100px;
}

.ms_section-dark h2,
.ms_section-dark h3,
.ms_section-dark p{
  color: white;
}

/* ps4 section  */
.ps4-header{
  margin-bottom: 40px;
}

.ps4-item{
  margin-bottom: 30px;
}

/* ps+ jumbotron  */
.ms_jumbotron-small{
  width: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 5rem 0;
  margin-bottom: var(--ms_bottom-section-margin);
}

#psPlus.ms_jumbotron-small{
  background-color: #bebcbb;
}

@media screen and (min-width:768px){

  #psPlus.ms_jumbotron-small{
  background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
  }

}

.ms_jumbotron-small img{
  width: 60%;
  margin-bottom: 40px;
}

#psPlus.ms_jumbotron-small p{
  color: black;
}

#psPlus .btn-secondary{
  border: 1px solid transparent;
  background-color: #dadbdd;
  color: var(--ms_primary-color);
}

/* discount section */
.discount{
  margin-bottom: var(--ms_bottom-section-margin);
}

.discount-text{
  width: 100%;
  text-align: center;
  margin-bottom: var(--ms_bottom-section-margin);
}

.discount-card{
  margin-bottom: var(--ms_bottom-section-margin);
}

/* playstation now jumbo  */
#psNow.ms_jumbotron-small{
  background-color: #161c3c;
  margin-bottom: 60px;
}

#psNow .btn{
  color: black;
  background-color: white;
  border: 1px solid transparent;
}

@media screen and (min-width:768px){

  #psNow.ms_jumbotron-small{
  background-image: url(../img/ps-now-april-featured-image-block.png);
  }

}

/* social */
.ms_social{
  text-align: center;
  margin-bottom: 60px;
}

.ms_social h2{
  margin-bottom: 60px;
}

@media screen and (min-width:768px){

  .ms_social.ms_container{
    width: 75%;
  }

}

@media screen and (min-width:992px){

  .ms_social.ms_container{
    width: 50%;
  }

}

/* footer  */
footer{
  background-color: #00439c;
  color: white;
  font-size: 1.2rem;
  padding: 5rem 0;
}

footer a{
  color: inherit;
}

.footer-logo img{
  width: 20%;
  margin-bottom: 20px;
}

.language{
  margin-bottom: 20px;
}

.language img{
  width: 20px;
}

.language h3{
  font-size: 1.2rem;
  display: inline-block;
}

.footer-list-container{
  margin-bottom: 40px;
}

.ms_footer-list ul{
  list-style-type: none;
}

.ms_footer-list li{
  line-height: 2;
}

.s-e-logo{
  margin-bottom: 10px;
  height: 50px;
  width: auto;
}